<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">

    <test name="Test Reservations">
        <parameter name="url" value="https://automationintesting.online"/>

        <classes>
            <class name="uiTests.Tests_homePage"/>
            <class name="nonFunctionalTest.AccessibilityTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->